<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sem-1 GPA</title>
    <link rel="stylesheet" href="../static/gpa.css">
</head>
<body>
<h1 align = "center">Fill Your Grades to Get GPA</h1>
<h3 align = "center">Regulation 2017 - CSE - 1st Semester</h3>
<form action="" method="post" >
    <label id="l10">GPA:<br>
        <input type="text" name="cgpa" value="{{data}}" readonly>
    </label><br>
    <label id="l1">Communicative English(HS8151):<br>
        <input type="radio" name = "ip" value="10" required>O<br>
        <input type="radio" name = "ip" value="9">A+<br>
        <input type="radio" name = "ip" value="8">A<br>
        <input type="radio" name = "ip" value="7">B+<br>
        <input type="radio" name = "ip" value="6">B<br>
        <input type="radio" name = "ip" value="0">RA<br>
    </label>
    <label id="l2">Engineering Mathematics-I(MA8151):<br>
        <input type="radio" name = "ai" value="10" required>O<br>
        <input type="radio" name = "ai" value="9">A+<br>
        <input type="radio" name = "ai" value="8">A<br>
        <input type="radio" name = "ai" value="7">B+<br>
        <input type="radio" name = "ai" value="6">B<br>
        <input type="radio" name = "ai" value="0">RA<br>
    </label>
    <label id="l3">Engineering Physics(PH8151):<br>
        <input type="radio" name = "mc" value="10" required>O<br>
        <input type="radio" name = "mc" value="9">A+<br>
        <input type="radio" name = "mc" value="8">A<br>
        <input type="radio" name = "mc" value="7">B+<br>
        <input type="radio" name = "mc" value="6">B<br>
        <input type="radio" name = "mc" value="0">RA<br>
    </label>
    <label id="l4">Engineering Chemistry(CY8151):<br>
        <input type="radio" name = "cd" value="10" required>O<br>
        <input type="radio" name = "cd" value="9">A+<br>
        <input type="radio" name = "cd" value="8">A<br>
        <input type="radio" name = "cd" value="7">B+<br>
        <input type="radio" name = "cd" value="6">B<br>
        <input type="radio" name = "cd" value="0">RA<br>
    </label>
    <label id="l5">Problem Solving and Python Programming(GE8151):<br>
        <input type="radio" name = "ds" value="10" required>O<br>
        <input type="radio" name = "ds" value="9">A+<br>
        <input type="radio" name = "ds" value="8">A<br>
        <input type="radio" name = "ds" value="7">B+<br>
        <input type="radio" name = "ds" value="6">B<br>
        <input type="radio" name = "ds" value="0">RA<br>
    </label>
    <label id="l6">Engineering Graphics(GE8152):<br>
        <input type="radio" name = "ipl" value="10" required>O<br>
        <input type="radio" name = "ipl" value="9">A+<br>
        <input type="radio" name = "ipl" value="8">A<br>
        <input type="radio" name = "ipl" value="7">B+<br>
        <input type="radio" name = "ipl" value="6">B<br>
        <input type="radio" name = "ipl" value="0">RA<br>
    </label>
    <label id="l7">Problem Solving and Python Programming Laboratory(GE8161):<br>
        <input type="radio" name = "mad" value="10" required>O<br>
        <input type="radio" name = "mad" value="9">A+<br>
        <input type="radio" name = "mad" value="8">A<br>
        <input type="radio" name = "mad" value="7">B+<br>
        <input type="radio" name = "mad" value="6">B<br>
        <input type="radio" name = "mad" value="0">RA<br>
    </label>
    <label id="k8">Physics and Chemistry Laboratory(BS8161):<br>
        <input type="radio" name = "mini" value="10" required>O<br>
        <input type="radio" name = "mini" value="9">A+<br>
        <input type="radio" name = "mini" value="8">A<br>
        <input type="radio" name = "mini" value="7">B+<br>
        <input type="radio" name = "mini" value="6">B<br>
        <input type="radio" name = "mini" value="0">RA<br>
    </label>
    <div id ="d1">
        <input type="submit" value="Calculate" onsubmit="return alert('Successfully Calculated!')">
        <input type="reset" value="Clear" onclick= 'return confirm("Are you Sure?")'>
    </div>
</form>
</body>
</html>