<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sem-5 GPA</title>
    <link rel="stylesheet" href="../static/gpa.css">
</head>
<body>
<h1 align = "center">Fill Your Grades to Get GPA</h1>
<h3 align = "center">Regulation 2017 - CSE - 5th Semester</h3>
<form action="" method="post" >
    <label id="l10">GPA:<br>
        <input type="text" name="cgpa" value="{{data}}" readonly>
    </label><br>
    <label id="l1" >Algebra and Number Theory(MA8551):<br>
        <input type="radio" name = "ip" value="10" required>O<br>
        <input type="radio" name = "ip" value="9">A+<br>
        <input type="radio" name = "ip" value="8">A<br>
        <input type="radio" name = "ip" value="7">B+<br>
        <input type="radio" name = "ip" value="6">B<br>
        <input type="radio" name = "ip" value="0">RA<br>
    </label>
    <label id="l2">Computer Networks(CS8591):<br>
        <input type="radio" name = "ai" value="10" required>O<br>
        <input type="radio" name = "ai" value="9">A+<br>
        <input type="radio" name = "ai" value="8">A<br>
        <input type="radio" name = "ai" value="7">B+<br>
        <input type="radio" name = "ai" value="6">B<br>
        <input type="radio" name = "ai" value="0">RA<br>
    </label>
    <label id="l3">Microprocessors and Microcontrollers(EC8691):<br>
        <input type="radio" name = "mc" value="10" required>O<br>
        <input type="radio" name = "mc" value="9">A+<br>
        <input type="radio" name = "mc" value="8">A<br>
        <input type="radio" name = "mc" value="7">B+<br>
        <input type="radio" name = "mc" value="6">B<br>
        <input type="radio" name = "mc" value="0">RA<br>
    </label>
    <label id="l4">Theory of Computation(CS8501):<br>
        <input type="radio" name = "cd" value="10" required>O<br>
        <input type="radio" name = "cd" value="9">A+<br>
        <input type="radio" name = "cd" value="8">A<br>
        <input type="radio" name = "cd" value="7">B+<br>
        <input type="radio" name = "cd" value="6">B<br>
        <input type="radio" name = "cd" value="0">RA<br>
    </label>
    <label id="l5">Object Oriented Analysis and Design(CS8592):<br>
        <input type="radio" name = "ds" value="10" required>O<br>
        <input type="radio" name = "ds" value="9">A+<br>
        <input type="radio" name = "ds" value="8">A<br>
        <input type="radio" name = "ds" value="7">B+<br>
        <input type="radio" name = "ds" value="6">B<br>
        <input type="radio" name = "ds" value="0">RA<br>
    </label>
    <label id="l6">Hospital Waste Management():<br>
        <input type="radio" name = "ipl" value="10" required>O<br>
        <input type="radio" name = "ipl" value="9">A+<br>
        <input type="radio" name = "ipl" value="8">A<br>
        <input type="radio" name = "ipl" value="7">B+<br>
        <input type="radio" name = "ipl" value="6">B<br>
        <input type="radio" name = "ipl" value="0">RA<br>
    </label>
    <label id="l7">Microprocessors and Microcontrollers Laboratory(EC8681):<br>
        <input type="radio" name = "mad" value="10" required>O<br>
        <input type="radio" name = "mad" value="9">A+<br>
        <input type="radio" name = "mad" value="8">A<br>
        <input type="radio" name = "mad" value="7">B+<br>
        <input type="radio" name = "mad" value="6">B<br>
        <input type="radio" name = "mad" value="0">RA<br>
    </label>
    <label id="k8">Object Oriented Analysis and Design Laboratory(CS8582):<br>
        <input type="radio" name = "mini" value="10" required>O<br>
        <input type="radio" name = "mini" value="9">A+<br>
        <input type="radio" name = "mini" value="8">A<br>
        <input type="radio" name = "mini" value="7">B+<br>
        <input type="radio" name = "mini" value="6">B<br>
        <input type="radio" name = "mini" value="0">RA<br>
    </label>
    <label id="l9">Networks Laboratory(CS8581):<br>
        <input type="radio" name = "net" value="10" required>O<br>
        <input type="radio" name = "net" value="9">A+<br>
        <input type="radio" name = "net" value="8">A<br>
        <input type="radio" name = "net" value="7">B+<br>
        <input type="radio" name = "net" value="6">B<br>
        <input type="radio" name = "net" value="0">RA<br>
    </label>
    <label id="l11">Naan Mudhalvan(SB0000):<br>
        <input type="radio" name = "nm" value="10" required>O<br>
        <input type="radio" name = "nm" value="9">A+<br>
        <input type="radio" name = "nm" value="8">A<br>
        <input type="radio" name = "nm" value="7">B+<br>
        <input type="radio" name = "nm" value="6">B<br>
        <input type="radio" name = "nm" value="0">RA<br>
    </label>
    <div id ="d1">
        <input type="submit" value="Calculate" onsubmit="return alert('Successfully Calculated!')">
        <input type="reset" value="Clear" onclick= 'return confirm("Are you Sure?")'>
    </div>
</form>
</body>
</html>