<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sem-7 GPA</title>
    <link rel="stylesheet" href="../static/gpa.css">
</head>
<body>
<h1 align = "center">Fill Your Grades to Get GPA</h1>
<h3 align = "center">Regulation 2017 - CSE - 7th Semester</h3>
<form action="" method="post" >
    <label for="cgpa" id="l10">GPA:<br>
        <input type="text" name="cgpa" value="{{data}}" readonly>
    </label><br>
    <label for="ip" id="l1">Principles of Management(MG8591):<br>
        <input type="radio" name = "ip" value="10" required>O<br>
        <input type="radio" name = "ip" value="9">A+<br>
        <input type="radio" name = "ip" value="8">A<br>
        <input type="radio" name = "ip" value="7">B+<br>
        <input type="radio" name = "ip" value="6">B<br>
        <input type="radio" name = "ip" value="0">RA<br>
    </label>
    <label for="ai" id="l2">Cryptography and Network Security(CS8792):<br>
        <input type="radio" name = "ai" value="10" required>O<br>
        <input type="radio" name = "ai" value="9">A+<br>
        <input type="radio" name = "ai" value="8">A<br>
        <input type="radio" name = "ai" value="7">B+<br>
        <input type="radio" name = "ai" value="6">B<br>
        <input type="radio" name = "ai" value="0">RA<br>
    </label>
    <label for="mc" id="l3">Cloud Computing(CS8791):<br>
        <input type="radio" name = "mc" value="10" required>O<br>
        <input type="radio" name = "mc" value="9">A+<br>
        <input type="radio" name = "mc" value="8">A<br>
        <input type="radio" name = "mc" value="7">B+<br>
        <input type="radio" name = "mc" value="6">B<br>
        <input type="radio" name = "mc" value="0">RA<br>
    </label>
    <label for="cd" id="l4">Hospital Management():<br>
        <input type="radio" name = "cd" value="10" required>O<br>
        <input type="radio" name = "cd" value="9">A+<br>
        <input type="radio" name = "cd" value="8">A<br>
        <input type="radio" name = "cd" value="7">B+<br>
        <input type="radio" name = "cd" value="6">B<br>
        <input type="radio" name = "cd" value="0">RA<br>
    </label>
    <label for="ds" id="l5">Human Computer Interaction():<br>
        <input type="radio" name = "ds" value="10" required>O<br>
        <input type="radio" name = "ds" value="9">A+<br>
        <input type="radio" name = "ds" value="8">A<br>
        <input type="radio" name = "ds" value="7">B+<br>
        <input type="radio" name = "ds" value="6">B<br>
        <input type="radio" name = "ds" value="0">RA<br>
    </label>
    <label for="ipl" id="l6">Cloud Computing Laboratory(CS8711):<br>
        <input type="radio" name = "ipl" value="10" required>O<br>
        <input type="radio" name = "ipl" value="9">A+<br>
        <input type="radio" name = "ipl" value="8">A<br>
        <input type="radio" name = "ipl" value="7">B+<br>
        <input type="radio" name = "ipl" value="6">B<br>
        <input type="radio" name = "ipl" value="0">RA<br>
    </label>
    <label for="mad" id="l7">Security Laboratory(IT8761):<br>
        <input type="radio" name = "mad" value="10" required>O<br>
        <input type="radio" name = "mad" value="9">A+<br>
        <input type="radio" name = "mad" value="8">A<br>
        <input type="radio" name = "mad" value="7">B+<br>
        <input type="radio" name = "mad" value="6">B<br>
        <input type="radio" name = "mad" value="0">RA<br>
    </label>
    <div id ="d1">
        <input type="submit" value="Calculate" onsubmit="return alert('Successfully Calculated!')">
        <input type="reset" value="Clear" onclick= 'return confirm("Are you Sure?")'>
    </div>
</form>
</body>
</html>